#### Постановка задачи:

- В данной работе нужно решить набор задач, проверяющих владение базовыми инструментами языка.
- Каждая задача представляет собой написание одной или более функций, а также набора тестов, проверяющих работу этой функции в общих и крайних случаях.
- Отсутствие тестов автоматически уменьшает количество баллов за задание как минимум в два раза, некачественные тесты также будут штрафоваться.
- Если в задании указано использовать несколько разных вариантов решения, подразумевается использование различных инструментов (циклы, списковые включения, генераторы, встроенные функции, функции модулей стандартной библотеки и т.п.), замена, например, цикла for на цикл while не является иным способом решения.
- Даже если это не указано явно в требованиях, код должен быть по возможности неизбыточным, работать с разумной сложностью и объёмом потребялемой памяти, проверяющие могут снизить балл за задание, выполненное без учёта этого требования.
- Результирующий код должен быть читаемым, с единой системой отступов и адеквантными названиями переменных, проверяющие могут снизить балл за задание, выполненное без учёта этого требования.

__Задание 1 (0.5 балла):__ Дано натуральное число. Требуется определить, является ли год с данным номером високосным. Если год является високосным, то выведите YES, иначе выведите NO. Напомним, что в соответствии с григорианским календарем, год является високосным, если его номер кратен 4, но не кратен 100, а также если он кратен 400.

In [ ]:
def task_01_func(year):
    if (year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0):
         print("YES")
    else:
        print("NO")

In [ ]:
task_01_func(1)
task_01_func(4)
task_01_func(2015)
task_01_func(2020)
task_01_func(2100)
task_01_func(1600)
task_01_func(2022)

NO
YES
NO
YES
NO
YES
NO

__Задание 2 (0.5 балла):__ Дано натуральное число. Найдите число знаков в его десятичной записи. Предложите как минимум два различных решения.

In [ ]:
def task_02_func(number):
    print(len(str(number)))

In [ ]:
def task_02_func2(number):
    n = 0
    if (number > 0):
        while(number > 0):
            number //= 10
            n += 1
    else:
        n = 1
    print(n)

In [ ]:
task_02_func(5362782)
task_02_func2(5362782)
task_02_func(1)
task_02_func2(0)

7
7
1
1

__Задание 3 (0.5 балла):__ По данному натуральном n вычислите сумму 1!+2!+3!+...+n!. В решении этой задачи с помощью циклов можно использовать только один цикл. Предложите как минимум два различных решения.

In [ ]:
def task_03_func(n):
    count = 0
    fact = 1
    for i in range(1, n + 1):
        fact *= i
        count += fact
    return count

In [ ]:
# 1! + 2! + ... + n! = 1(1+2(1+3(1+...(n-1)(1+n)))) - тут (n-1) скобок
def task_03_func2(n):
    count = 0
    for i in range(n, 0, -1): 
        count = (count+1) * i
    return count

In [ ]:
print(task_03_func(1))
print(task_03_func2(1))
print(task_03_func(3))
print(task_03_func2(3))
print(task_03_func(5))
print(task_03_func2(5))

1
1
9
9
153
153

__Задание 4 (0.5 балла):__ Определить, является ли введённая строка палиндромом (то есть одинаково читается с обеих сторон). Предложите как минимум три различных решения.

In [ ]:
def task_04_func(s):
    return s == s[::-1]

In [ ]:
print(task_04_func('1235321'))
print(task_04_func('12341234'))
print(task_04_func('123321'))
print(task_04_func('7'))
print(task_04_func('70'))

True
False
True
True
False

In [ ]:
def task_04_func2(s):
    for i in range(len(s) // 2):
        if s[i] != s[-i - 1]:
            return False            
    return True

In [ ]:
print(task_04_func2('1235321'))
print(task_04_func2('12341234'))
print(task_04_func2('123321'))
print(task_04_func2('7'))
print(task_04_func('70'))

True
False
True
True
False

In [ ]:
def task_04_func3(s): 
    first_half = s[:len(s) // 2]
    second_half = s[len(s) // 2 + len(s) % 2:]
    return first_half == second_half[::-1]

In [ ]:
print(task_04_func3('1235321'))
print(task_04_func3('12341234'))
print(task_04_func3('123321'))
print(task_04_func3('7'))
print(task_04_func('70'))

True
False
True
True
False

__Задание 5 (1 балл):__ Дан текст в виде строки. Напишите функцию, которая возвращает словарь, где ключами являются уникальные слова из этого текста, а значениями - число раз, которое данное слово встретилось в тексте. Считать, что слова разделяются пробелами. Предложите как минимум два различных решения.

In [ ]:
def task_05_func(text):
    d = {}
    words = text.lower().split()
    for word in words:
        clear_word = word.strip('.,!?;:()')
        if clear_word in d:
            d[clear_word] += 1
        else:
            d[clear_word] = 1
    return d

In [ ]:
def task_05_func2(text):
    d = {}
    words = text.lower().split()
    for word in words:
        clear_word = word.strip('.,!?;:)—(-0123456789 ')
        d[clear_word] = d.get(clear_word, 0) + 1
    return d

In [ ]:
print(task_05_func(""))
print(task_05_func2(""))
print(task_05_func("a, b. c! b; :aa bb? ccc"))
print(task_05_func2("a, b. c! b; :aa bb? ccc"))
print(task_05_func("A, a b. c! b; :aa bb? Cc 13 aa 12"))
print(task_05_func("A, a b. c! b; :aa bb? Cc 13 aa 12"))

{}
{}
{'a': 1, 'b': 2, 'c': 1, 'aa': 1, 'bb': 1, 'ccc': 1}
{'a': 1, 'b': 2, 'c': 1, 'aa': 1, 'bb': 1, 'ccc': 1}
{'a': 2, 'b': 2, 'c': 1, 'aa': 2, 'bb': 1, 'cc': 1, '13': 1, '12': 1}
{'a': 2, 'b': 2, 'c': 1, 'aa': 2, 'bb': 1, 'cc': 1, '13': 1, '12': 1}

__Задание 6 (1 балл):__ Напишите функцию, которая принимает на вход строку и символ и возвращает:

- если символ встретился в строке один раз - кортеж (индекс вхождения, None);
- если два и более раз - кортеж (индекс первого вхождения, индекс последнего вхождения);
- если ни разу - кортеж (None, None).

Запрещается делать более одного прохода по каждому элементу строки.

In [ ]:
def task_06_func(input_str, input_char):
    a = input_str.find(input_char)
    b = input_str.rfind(input_char)
    if a == b:
        b = None
    if a == -1:
        a = None
    return (a, b)

In [ ]:
print(task_06_func('abcdef', 'c'))
print(task_06_func('abcdefe', 'e'))
print(task_06_func("abcde", "f"))
print(task_06_func('','a'))
print(task_06_func('aaaaaaa','a'))
print(task_06_func('abba','a'))

(2, None)
(4, 6)
(None, None)
(None, None)
(0, 6)
(0, 3)

__Задание 7 (1 балл):__ Дан список целых чисел. Напишите функцию, которая возвращает копию этого списка, из которой удалены отрицательные числа, а все прочие числа возведены в квадрат. Также возвращаемая последовательность должна быть отсортирована по убыванию. Предложите как минимум три различных решения.

In [ ]:
def task_07_func(lst):
    y = []
    for x in lst:
        if x >= 0:
            y.append(x*x)
    y.sort(reverse = True)
    return y

In [ ]:
print(task_07_func([1, 2, -3, 4]))
print(task_07_func([4, -3, 1, 2]))
print(task_07_func([3, 1, 2]))
print(task_07_func([-3, -1, -2]))
print(task_07_func([2, -3, 5, -6, 7, 0, -10, 11]))
print(task_07_func([]))

[16, 4, 1]
[16, 4, 1]
[9, 4, 1]
[]
[121, 49, 25, 4, 0]
[]

In [ ]:
def task_07_func2(lst):
    result = [i ** 2 for i in lst if i >= 0]
    return sorted(result, reverse=True)

In [ ]:
print(task_07_func2([1, 2, -3, 4]))
print(task_07_func2([4, -3, 1, 2]))
print(task_07_func2([3, 1, 2]))
print(task_07_func2([-3, -1, -2]))
print(task_07_func2([2, -3, 5, -6, 7, 0, -10, 11]))
print(task_07_func2([]))

[16, 4, 1]
[16, 4, 1]
[9, 4, 1]
[]
[121, 49, 25, 4, 0]
[]

In [ ]:
def task_07_func3(lst):
    y = []
    for x in lst:
        if x >= 0:
            y.append(x)
    y.sort(reverse = True)
    return list(map(lambda z: z * z, y))

In [ ]:
print(task_07_func3([1, 2, -3, 4]))
print(task_07_func3([4, -3, 1, 2]))
print(task_07_func3([3, 1, 2]))
print(task_07_func3([-3, -1, -2]))
print(task_07_func3([2, -3, 5, -6, 7, 0, -10, 11]))
print(task_07_func3([]))

[16, 4, 1]
[16, 4, 1]
[9, 4, 1]
[]
[121, 49, 25, 4, 0]
[]

__Задание 8 (1 балл):__ Напишите функцию, которая принимает на вход список кортежей одинаковой длины и индекс `index` элемента в кортеже и возвращает генератор, итерирование по которому позволит получит все кортежи входного списка, отсортированные по убыванию элементов этих кортежей с индексом `index`.

In [ ]:
#генераторы списков? лекция 1 (57:00) и 2

def task_08_func(lst, index):

    return (b for a, b in sorted(((tup[index], tup) for tup in lst), reverse=True))

q = task_08([(2, 5, 8, 10), (3, 4, 9, 1), (2, 6, 6, 7), (2, 3, 1, 2), (2, 8, 9, 10)], 2)

for _ in [1,2]:
    for p in q:
        print(p)

NameError: ignored

In [ ]:
gen = task_08_func([(2, 5, 8, 10), (3, 4, 9, 1), (2, 6, 6, 7), (2, 3, 1, 2), (2, 8, 9, 10)], 2)

print(next(gen), next(gen), next(gen), next(gen), next(gen))

(3, 4, 9, 1) (2, 8, 9, 10) (2, 5, 8, 10) (2, 6, 6, 7) (2, 3, 1, 2)

__Задание 9 (1 балл):__ Напишите функцию, которая получает на вход натуральное число `n` и выводит первые `n` строк треугольника Паскаля.

![image.png](attachment:image.png)

In [ ]:
def task_09_func(n):
    tr = [[1], [1, 1]]
 
    for i in range(2, n):
        row = [1] * (i + 1)
        for j in range(1, i):
            row[j] = tr[i-1][j-1] + tr[i-1][j]
        tr.append(row)
    
    max_len = len(' '.join(list(map(str, tr[-1]))))
    
    
    for i in range(n):
        len_i = len(' '.join(list(map(str, tr[i]))))
        spaces = ' ' * ((max_len - len_i) // 2)
        print(spaces, end='')
        print(*tr[i])

In [ ]:
task_09_func(1)
print()
task_09_func(2)
print()
task_09_func(5)
print()
task_09_func(10)

 1

 1
1 1

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

             1
            1 1
           1 2 1
          1 3 3 1
         1 4 6 4 1
       1 5 10 10 5 1
     1 6 15 20 15 6 1
    1 7 21 35 35 21 7 1
  1 8 28 56 70 56 28 8 1
1 9 36 84 126 126 84 36 9 1

__Задание 10 (1 балл):__ Напишите функцию, которая принимает на вход абсолютный путь к директории и две строки с расширениями файлов. В результате её выполнения у всех файлов в указанной директории, имеющих первое расширение, расширение должно измениться на второе. В конце работы функция должна возвращать кортеж из двух элементов:

1. сколько всего в директории файлов (именно файлов, не директорий);
2. у скольки из них расширение было изменено.

Допускается только один проход по каждому файлу из указанной директории.

In [ ]:
import os
def task_10_func(dir_path, prev_extension, next_extension):
    count_files = 0
    count_changes = 0
    for filename in os.listdir(dir_path):
        if os.path.isfile(dir_path + '\\' + filename):
            pre, ext = os.path.splitext(filename)
            count_files += 1
            if ext == prev_extension:
                os.rename(dir_path + '\\' + pre + prev_extension, dir_path + '\\' + pre + next_extension)
                count_changes += 1
    return count_files, count_changes

In [ ]:
#test
path = r'/content/sample_data'
path1 = r'/content/1.csv'
path2 = r'/content/22.xlsx' 

print(os.listdir(path))
os.rename(path1, path2)
print(os.listdir(path))

['README.md', 'anscombe.json', 'california_housing_train.csv', 'mnist_train_small.csv', 'california_housing_test.csv', 'mnist_test.csv']
['README.md', 'anscombe.json', 'california_housing_train.csv', 'mnist_train_small.csv', 'california_housing_test.csv', 'mnist_test.csv']

In [ ]:
#test
path = r'/content/sample_data'
prev = '.csv'
next_e = '.txt'
print(os.listdir(path))
print(task_10_func(path, prev, next_e))
print(os.listdir(path))

['README.md', 'anscombe.json', 'california_housing_train.csv', 'mnist_train_small.csv', 'california_housing_test.csv', 'mnist_test.csv']
(0, 0)
['README.md', 'anscombe.json', 'california_housing_train.csv', 'mnist_train_small.csv', 'california_housing_test.csv', 'mnist_test.csv']

__Задание 11 (1 балл):__ Описать функцию, которая принимает на вход два списка и возвращает список уникальных элементов, которые есть в первом входном списке и отсутствуют во втором. Запрещается использовать циклы и списковые включения/генераторы списков.

In [ ]:
def task_11_func(first_list, second_list):
    myset = set(first_list) - set(second_list)
    return list(myset)

In [ ]:
print(task_11_func([1, 2, 2, 2, 3, 3, 4, 5], [4, 5, 6, 7, 8]))
print(task_11_func([], []))
print(task_11_func([1, 2], []))
print(task_11_func([], [1, 2]))

[1, 2, 3]
[]
[1, 2]
[]

__Задание 12 (1 балл):__ Напишите функцию, которая получает на вход путь к файлу, в котором в каждой строке записано одно вещественное число, а также путь к выходному файлу. Функция должна прочитать содержимое файла, игнорировать строки с нечётными индексами, а строки с чётными индексами должна увеличить на минимальное из чисел, содержащихся в этом файле. Полученные числа нужно записать в выходной файл с точностью 5 знаков после запятой.

Требуется сделать не более двух проходов по входному файлу, расход памяти на протяжении работы должен быть O(1) (то есть никак не зависеть от числа строк во входном файле).

In [ ]:
import math, os

In [ ]:
def task_12_func(input_path, output_path):
    min = math.inf
    
    input = open(input_path, "r")
    for line in input.readlines():
        i = float(line)
        if i < min:
            min = i
              
    outp = open(output_path, "w")    
    input = open(input_path, "r")
    for i, line in enumerate(input.readlines()):
        j = float(line)
        
        if i % 2:
            outp.write(f"{j:.5f}\n")
        else:
            outp.write(f"{j+min:.5f}\n")

def write_to_file(filename, arr):
    file = open(filename, "w")
    file.write("\n".join([f"{i:.5f}" for i in arr]))

In [ ]:
def test(file1, file2):
    f1 = open(file1, "r")
    f2 = open(file2, "r")
    i = 0
    for line1 in f1:
      i += 1 
      
      for line2 in f2:
         
        if line1 == line2:
      # print IDENTICAL if similar
          return True
        else : 
          if i%2 == 0:
            return False 
          else: 
            pass
      # else print that line from both files
      #print ( " File 1:" , line1, end = '')
      #print ( " File 2:" , line2, end = '')
      

        
    #return True

In [ ]:
nums_1 = [2, -7, 5, -3, 9.89899, 4.567]
ans_1 = [-5, -7, -2, -3, 2.89899, 4.567]
write_to_file("nums_1.txt", nums_1)
write_to_file("ans_1.txt", ans_1)
task_12_func("nums_1.txt", "out_1.txt")
print(test("out_1.txt", "ans_1.txt") == True)




os.remove("nums_1.txt")
os.remove("ans_1.txt")
os.remove("out_1.txt")

True

__Задание 13 (1 балл):__ Написать функцию, которая принимает на вход число `n`, которое может быть либо натуральным, либо -1, и возвращает генератор чисел Фиббоначи. Если входной параметр равен натуральному числу, то генератор должен выдавать последовательно числа Фиббоначи до `n`-го. Если `n` равно -1, то генератор должен быть бесконечным.

Списковое включение (только для положительных n):

In [ ]:
def task_13_func(n): 
  
    fib1 = 0
    fib2 = 1
    
    yield fib1
    
    if n != 0:
        yield fib2
    step = 2 

    while step <= n and n != -1 :

        step += 1
        num, fib1 = fib1 + fib2, fib2 
        fib2 = num 

        yield num

In [ ]:
# Test 'task_13_func'

gen_0 = task_13_func(0)
gen_1 = task_13_func(1) 
gen_3 = task_13_func(3) 
gen_5 = task_13_func(5)


print(list(gen_0) == [0])
print(list(gen_1) == [0, 1]) 
print(list(gen_3) == [0, 1, 1, 2]) 
print(list(gen_5) == [0, 1, 1, 2, 3, 5])

True
True
True
True

__Задание 14 (1 балл):__ Написать функцию, которая принимает на вход произвольный объект, проверяет его тип, и для целого числа возвращает список всех магических методов объекта, начинающихся с `__a`, для строк - с `__s`. Для всех прочих типов должен возвращаться список немагических методов. В задании запрещается использовать циклы и списковые включения/генераторы списков.

In [ ]:
def task_14_func(n):
    if isinstance(n, int):
        return list(filter(lambda x: x.startswith('__a'), dir(n)))        
    elif isinstance(n, str):
        return list(filter(lambda x: x.startswith('__s'), dir(n)))
    else:
        return list(filter(lambda x: not x.startswith('__'), dir(n)))

In [ ]:
print(task_14_func(4))
print(task_14_func('4'))
print(task_14_func([4]))

['__abs__', '__add__', '__and__']
['__setattr__', '__sizeof__', '__str__', '__subclasshook__']
['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

__Задание 15 (1.5 балла):__ Написать функцию, которая во входной строке заменяет вхождения всех английских заглавных букв на их номер в таблице ASCII, затем производит сплит по минимальной из цифр строки. Предложите как минимум два различных решения, одно из которых не должно использовать циклы. При использовании циклов допускается не более двух проходов по строке.

In [ ]:
def task_15_func(n):
    for c in n:
        if c.isalpha() and c.isupper():
            n = n.replace(c, str(ord(c)))
    min_d = 9
    for c in n:
        if c.isdigit() and int(c) < min_d:
            min_d = int(c)
    return n.split(str(min_d))

In [ ]:
s = 'London is the capital of Great Britain. More than six million people live in London. \
London lies on both banks of the river Thames. It is the largest city in Europe and one \
of the largest cities in the world. London is not only the capital of the country, it is\
also a very big port, one of the greatest commercial centres in the world, a university\
city, and the seat of the government of Great Britain!'
task_15_func(s)

['76ondon is the capital of 7',
 'reat 66ritain. 77ore than six million people live in 76ondon. 76ondon lies on both banks of the river 84hames. 73t is the largest city in 69urope and one of the largest cities in the world. 76ondon is not only the capital of the country, it isalso a very big port, one of the greatest commercial centres in the world, a universitycity, and the seat of the government of 7',
 'reat 66ritain!']

__Задание 16 (1.5 балла):__ Написать функцию, которая принимает на вход строку и извлекает из неё мобильные телефонные номера с помощью регулярных выражений. Функция должна поддерживать общепринятые варианты написания номера, как со всевозможными разделителями, так и без них (обеспечьте поддержку не менее 10 различных случаев). Возвращаемым значением функции является список всех найденных в строке номеров, если их не было, нужно вернуть пустой список.

In [ ]:
import re 
def task_16_func(n):
    return re.findall(r'\+*[7-8]\(*\d{3}\)*[\s\-]*\d{3}[\s\-]*\d{2}[\s\-]*\d{2}', tel_numbers) + re.findall(r'\+7\(*\d{3}\)*[\s\-]*\d{2}[\s\-]*\d{2}[\s\-]*\d{3}', tel_numbers) + re.findall(r"\+?([7-8][-( ]{0,2}?\d{5}[-) ]{0,2}(\d)[- ]?\d{2}[- ]?\d{2})", tel_numbers)

In [ ]:
tel_numbers = '+79998500782, +7(999) 850 07 82, +7(999) 85 00 782, +7(999) 850-07-82, +7(999)85-00-782, 8(999)8500782,\
89998500782, 8-999-850-07-82,8 999 850 07 82, 8(999)8500782, 8 950 123 45 67'

print(task_16_func(tel_numbers))

['+79998500782', '+7(999) 850 07 82', '+7(999) 850-07-82', '8(999)8500782', '89998500782', '8(999)8500782', '+79998500782', '+7(999) 85 00 782', '+7(999)85-00-782', ('79998500782', '0'), ('89998500782', '0')]

__Задание 17 (5 баллов):__ Опишем бинарное дерево, представленное в виде вложенных кортежей, в каждом узле дерева хранится вещественное число и ссылка на левое и правое поддерево.

Пример: для сбалансированного дерева

```
        v_0
       /   \
   v_11     v_12
  /  \       /  \
v_21 v_22  v_23 v_24
```

представление в виде кортежей будет выглядеть так:

```
(v_0,
    (v_11,
        (v_21, None, None),
        (v_22, None, None)
    ),
    (v_12,
        (v_23, None, None),
        (v_24, None, None)
    )
)
```

Необходимо написать функцию, которая принимает на вход бинарное дерево (не обязательно сбалансированное), закодированное описанным способом в виде кортежа, производит его обход в глубину и для каждой листовой вершины вычисляет сумму всех значений от корня до неё включительно. Функция ничего не возвращает, вместо этого она выводит получаемые суммы в порядке следования листовых вершин (слева направо).

Реализуйте два решения: на основе рекурсии и на основе циклов.

In [ ]:
def task_17_func(tree, lst=[]):
    s = tree[0]
    lst.append(s)
    if tree[1] is not None:
        task_17_func(tree[1], lst)
        lst.pop()
    if tree[2] is not None:
        task_17_func(tree[2], lst)
        lst.pop()
    if tree[1] is None and tree[2] is None:
        print(sum(lst), end=' ')
    if len(lst) == 1:
        lst.pop()
        print('\n')

In [ ]:
def task_17_func_2(tree, sum=0): 

    if tree is None:
        return  
          
    val, left, right = tree
    sum += val
    print(sum, end=' ')
    
    task_17_func_2(left,  sum)
    task_17_func_2(right, sum)

In [ ]:
tree1 = (1, (2, (3, None, None), (4, None, None)), (5, (6, None, None), (7, None, None)))
tree2 = (1, (2, None, None), None)
tree3 = (1, None, (2, (3, None, (4, None, None)), None))
tree4 = (1, (0, (0, (1, None, None), None), None), (0, None, (0, None, (2, None, None))))
tree5 = (0,
    (11,
        (21, None, None),
        (22, None, None)
    ),
    (12,
        (23, None, None),
        (24, None, None)
    )
)
 
task_17_func_2(tree1)
task_17_func(tree2)
task_17_func(tree3)
task_17_func(tree4)
task_17_func(tree5)
task_17_func(tree5)

1 3 6 7 6 12 13 3

10

2 3

32 33 35 36

32 33 35 36